
#btn_transfer{
    margin: 1rem;
}
#txt_output{
    margin-bottom: 1rem;
}
.white_section{
    background-color: floralwhite;
    border: 1px solid burlywood;
    width:300px;
    text-align: center;
    align-content: center;
    margin:auto;
    margin-top: 5rem;  
}
.about_section{
    background-color: yellow;
    margin-top: 5rem;
    width: 100%;
    text-align: center;
    color: red;
}